.hot-div {
  margin-top: .5em;
}

.ant-card-body {
  padding-bottom: 0 !important;
}

.hot-article-title {
  width: 100%;
  margin-bottom: .5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hot-article-title a {
  color: #757575;
  text-decoration: underline;
}

.hot-article-title a:hover {
  color: #1890FF;
}